<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About me</h2>
    <p>My name is Ahmad Barakat and this is a site made for the full stack training by Valoro under Eng.Maged</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>